html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  /* cursor: none; */
}

.mosaic {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  grid-auto-rows: 128px;
  transform: translate(-50%, -50%);
}

.tile {
  width: 128px;
  height: 128px;
  background-size: cover;
  background-position: center;
  filter: grayscale(80%) brightness(40%);
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.center-text-gradient {
  background: linear-gradient(270deg, #ff3c3c, #ffdd3c, #3cff3c, #3cddff, #b93cff);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-text-gradient {
  line-height: 50vw;
  font-size: 60vw;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: white;
  z-index: 10;
  pointer-events: none;
  user-select: none;
  background: linear-gradient(270deg, #ff3c3c, #ffdd3c, #3cff3c, #3cddff, #b93cff);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 30s linear infinite;
  filter: drop-shadow(0px 0px 40px rgb(0, 0, 0)) drop-shadow(0px 0px 40px rgb(0, 0, 0));
}

.title-container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
  pointer-events: none;
  user-select: none;
  width: 100%;
  text-align: center;
}

.center-title {
  margin-top: 20px;
  font-size: 5vw;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: white;
  filter: 
    drop-shadow(0px 0px 40px rgb(0, 0, 0))
    drop-shadow(0px 0px 40px rgb(0, 0, 0))
    drop-shadow(0px 0px 40px rgb(0, 0, 0))
    drop-shadow(0px 0px 40px rgb(0, 0, 0));
  text-align: center;
  white-space: normal;
}

/* For smartphones (screen width 600px or less) */
@media (max-width: 600px) {
  .center-title {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 8vw;
  }

}